<h2>Ah hah!</h2>
<h4>now you have all my secrets</h4>

<script>
function startSearch(event) {
  var speech = $("#search").val();
  
  var search = "https://www.google.com/search?q=" + speech.replace(' ', '+');
  console.log(search);
  
 window.open(search);
  // event.target.form.submit();
}
$(function() {

	
});



</script>

<form action="http://www.google.com/search" target="_blank">
  <input type="search" id="search" name="q" x-webkit-speech speech required onspeechchange="startSearch();" onwebkitspeechchange="startSearch();" size=100>
</form>