<h2>Ah hah!</h2>
<h4>now you have all my secrets</h4>

<script>
  function startSearch(event) {
    event.target.form.submit();
  }
</script>

<form action="http://www.google.com/search" target="_blank">
  <input type="search" name="q" x-webkit-speech speech required onspeechchange="startSearch" size=100>
</form>